.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #f8f8f8;
}

.header_logo {
    display: flex;
    align-items: center;
    padding-left: 70px;
}

.header_logo svg {
    width: 131px;
    height: 35px;
}

.header_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    padding-right: 70px;
}

.header_nav a {
    color: #828181;
}

.header_nav a:hover {
    transition: color ease-in-out .5s;
    -webkit-transition: color ease-in-out .5s;
    -moz-transition: color ease-in-out .5s;
    -ms-transition: color ease-in-out .5s;
    -o-transition: color ease-in-out .5s;
    color: #050505;
}








