body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*proj_block1*/
.product_block1 {
    padding: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}