/.idea/
/.build
/.vscode/

/docker/data
# package directories
node_modules
jspm_packages

/server/node_modules
/next-app/node_modules
# Serverless directories
.serverless

.env
/server/node_modules
/next-app/node_modules

